/.cache
/.idea
/.ipynb_checkpoints
/.vscode
*/__pycache__

/models
/tmp
/*-data
/preprocessed_min*
/checkpoint-*
/wandb
/beir_msmarco
/beir_msmarco-partial

playground*.py
*.txt
*.log
*.pt
generated*.json
retrieval-*.json
t5*.json
